.title {
  font-weight: 100;
  font-size: 1.6rem;
  text-transform: capitalize;
  text-align: center;
}

.hover:hover {
  filter: brightness(1.2); /* Adjust brightness as needed */
}

.sampleDock {
  width: 100vh;
  height: max-content;
}


